/* metadata */
* {
  box-sizing: border-box;
}

.box {
  float: right;
  padding-left: 20px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.numberBox
{
  background-color: lightgray;
}

.rowPair
{
  padding-top: 15px;
}

/* .rowPair tr {
  margin: 0;
  -webkit-column-break-inside: avoid; 
  page-break-inside: avoid;          
  break-inside: avoid-column;       
  display:table;    
} */




/* chord lines */
.chordLine
{
    color: dodgerblue;
    font-weight: bold;
}

.songHeader
{
    border-bottom: solid 1px black;
    border-top : solid 1px black;
}

.box {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
